main{
    min-height: 80dvh;
    background-image: url(/Images/A3-1920.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    padding: 3%;
}
h1{
    border-radius: 50px;
    font-size:3em;
    background-color: #44a33d;
    border-radius: 50px;
    padding: 1%;
    color: white;
    font-family:serif;
    text-decoration: none;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

form{
    background-color: rgba(138, 173, 177, 0.9);
    border-radius: 15px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label {
    
    width: 25%;
}
#region{
    min-width: 35%;
}
input {
   
    width: 35%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

button {
    padding: 10px 20px;
    background-color: #44a33d;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
@media (max-width: 820px){
    h1{
        margin: 0;
        margin-bottom: 2%;
        font-size: larger;
    }
    label{
        width: 50%;
        margin-bottom: 2%;
    }
}
