main{
    min-height: 80dvh;
    background-image: url(/Images/A3-1920.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    padding: 3%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rubriqueFormation-Titre{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5% ;
    margin-bottom: 0;
    border-radius: 15px;
}
h1{
    border-radius: 50px;
    font-size:xx-large;
    width:100% ;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
}
h1,.rubriqueFormation-Titre{
    font-family:serif;
    text-decoration: none;

    text-align: center;
    background-color: #44a33d;
    padding: 1.5%;
}
.colFormation{
    width: 45%;
    background-color: rgba(161, 184, 186, 0.9);
    padding: 2%;
    border-radius: 15px;
}
.rubriqueFormation{
    border: 1px solid red;
    margin-bottom: 2%;
    border-radius: 15px;
}
.rubriqueFormation-Description{
    padding-left: 5%;
    padding-right: 5%;
}