main {
  min-height: 80dvh;
  background-image: url(/Images/A3-1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2%;
}
h1 {
  color: white;
  font-family: serif;
  text-align: center;
  background-color: #44a33d;
  border-radius: 15px;
  padding: 3%;
  border-radius: 50px;
  font-size: xx-large;
  margin-left: 20%;
  margin-right: 20%;
}
.gallery {
  background-color: #87bb34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 2%;
}
.gallery > img {
  max-width: 175px;
  max-height: 175px;

  margin: 1%;
}
