main{
    min-height: 80dvh;
    background-image: url(/Images/A2-1920.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    padding: 2%;
}
h1,.carte-temoignage-nom{
    background-color: #44a33d;
    border-radius: 15px;
    padding: 3%;
    color: white;
    font-family:serif;
    text-decoration: none;
    text-align: center;
}
h1{
    border-radius: 50px;
    font-size:xx-large;
    margin-left: 20%;
    margin-right: 20%;
}
.temoignages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.carte-temoignage{
    width: 25%;
    background-color: rgba(138, 173, 177, 0.9);
    border-radius: 15px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carte-temoignage-photo>img{
    max-width: 150px;
    max-height: 150px;
}
.carte-temoignage-photo{
    border: 2px solid mediumslateblue;
    padding: 5%;
    background-color: white;
    margin-bottom: 5%;
}
.carte-temoignage-fonction,.carte-temoignage-entreprise{
    margin: 3%;
    color:mediumslateblue ;
}
.carte-temoignage-message{
    text-align: justify;
    color: white;
}